*.txss
*.gz
*-blx.bib
*.acr
*.acn
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.bst
*.dvi
*.glo
*.gl*
*.idx
*.ind
*.ilg
*.ist
*.lo?
*.mw
*.nlo
*.ntn
*.out
*.pdf
!figures/*.pdf
*.ps
*.rel
*.run.xml
*.sbl
*.slg
*.slo
*.sls
*.snm
*.sym
*.synctex.gz
*.tcp
*.thm
*.tdo
*.to?
*.tmp
*.tmproj
*.xdy
*.xwm
._*
._.DS_Store
.~lock*
auto
Thumbs.db
